<!DOCTYPE html>
<html lang="en">

    <head>
      <meta charset="utf-8">
      <title>My Amazing Fat Client Portfolio Builder</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>

    <body>
        <h1> findA </h1> 
        <p> Your app for finding your closests Adventist churches and events. </p> 

        <nav id="navigation">
            <%= link_to "Login with Facebook", authorise_fb_attendee_index_path %>
        </nav>



        <section id="footer">
        </section>


    </body>

</html>