

<main class="show">
	<h2> <%= @church.name%> profile </h2>

	<div id="profile_content">
		


		<%= link_to 'Events', event_index_path %>
		<%= link_to 'Create Event', new_event_path, :remote => true, :id => 'create_event' %>

		<div id="event_create"> 
		</div>

		<div id="map_n_cal">
			<div id="map">This is the map</div>
			<div id="calendar">This is the calendar</div>
		</div>

		<div class="clear"></div>
	</div>

</main>




