

<body>
  <main class="home">
    <div class="content">
      <h1 class="title"> findA </h1>
      <p class="tagline"> Your app for finding your closests Adventist churches and events. </p>  
      <nav id="navigation">
        <ul>
          <li class="one"> <%= link_to "Church Login", new_pastor_registration_path %> </li>
          <li class="two"> <%= link_to "Login with Facebook", authorise_fb_attendee_index_path %> </li>
        </ul>
      </nav>
      <div class="clear"></div>

      
    </div>

    </main>

    <section id="footer">
    </section>


</body>

</html>