
.home{
	background-color: #CCFF99;
	width: 100%;
	max-height: 100%;

}

.content{
	text-align: center;
	text-decoration: none;
	margin-top: 15%;
}

h1{
	font-family: 'Raleway', sans-serif;
	font-size: 5rem;
	font: white;
	padding: 0%;
	margin-bottom: -2%;

}

p{
	font-family: 'PT Serif', sans-serif;
	font-size: 1rem;
	padding: 0%;
}

ul{
	list-style-type: none;
	margin-left: 37%;
}

li{
	float: left;
}

a{
	text-decoration: none;
}

.one{
	list-style-position: inside;
	margin-right: -16%;
}

.two{
	margin-left: 20%;
	margin-right: 20%;
}
#navigation{
	text-align: centre;
}

.show{
	background-color: white;
}

h2{
	font-family: 'Raleway', sans-serif;
	font-size: 4rem;
}

#profile_content{
	margin-top: 8%;
	margin-left: 10px;
}
#events{
	background-color: red;
	width: 300px;
	height: 300px;
	display: inline-block;
	float: left;
}
 
#map_n_cal{
	float: right;
	margin-right: 5%;
}

#map{
	background-color: yellow;
	width: 624px;
	height: 424px;
	display: block;
	margin-bottom: 5%;
}

#calendar{
	background-color: green;
	width: 624px;
	height: 424px;
	display: inline-block;
}


.clear {
  clear: both;
}