.show{
	background-color: white;
}
.event{
	background-color: red;
	width: 300px;
	height: 300px;
}

.map{
	background-color: yellow;
	width: 300px;
	height: 300px;
}

.calendar{
	background-color: green;
	width: 300px;
	height: 300px;
}